body {
  font-size: 1.2em;
}

div.tabs > a, div.tabs > button {
  margin-right: 10px;
  font-size: 1.2em;
}

div.tabs {
  margin-bottom: 10px;
}

.activeTab {
  font-weight: bold;
}




.cat-items {
    width: 40%;
    float: left;
}
.menu-items {
    margin-left: 30px;
    width: 40%;
    float: left;
}
